<ion-view view-title="Recarga S.O.S !">
    <ion-content ng-class="{expanded:isExpanded}"  class="animate-fade-slide-in" style="background-image: url('img/creditos.jpg');background-repeat: no-repeat; background-position: center;">    
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
            <table><tr>
                <div class="list" ng-controller="ActivityCtrl">
                <br>
                <td><div class="item item-icon-left">                
                    <a class="icon" ng-click="pedirCreditos(10)" >10</a>
                </td>
                <td> 
                    <img src="img/1.png">
                </td>
                <td>
                    <button ng-click="pedirCreditos(10)" style="float:right;"> Comprar</button> 
                </td>
                </div>                
            </tr>
            <br><br><br><br>
            <tr>
            <td>
                <div class="item item-icon-left">                
                <a class="icon" ng-click="pedirCreditos(25)" >25</a>
            </td>                    
            
            <td><img src="img/2.png"></td>
                <td><button ng-click="pedirCreditos(25)" style="float:right;"> Comprar</button> </td>
                </div>  
            </tr>
                <br>
                <div class="item item-icon-left">                
                    <a class="icon" ng-click="pedirCreditos(50)" >50
                    <img src="img/3.png">
                    <button ng-click="pedirCreditos(50)" style="float:right;"> Comprar</button> 
                    </a>
                </div>  <br>
                <div class="item item-icon-left">                
                    <a class="icon" ng-click="pedirCreditos(75)" >75
                    <img src="img/4.png">
                    <button ng-click="pedirCreditos(75)" style="float:right;"> Comprar</button> 
                    </a>
                </div>  <br>
                <div class="item item-icon-left">                
                    <a class="icon" ng-click="pedirCreditos(100)" >100
                    <img  src="img/5.png">
                    <button ng-click="pedirCreditos(100)" style="float:right;"> Comprar</button> 
                    </a>
                </div>  <br>                
                </div>
            </table>
            </div>
        </div>
        
    </ion-content>
</ion-view>
