<ion-view view-title="Desafios disponibles!">
<ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <ion-content ng-class="{expanded:isExpanded}" ng-controller="FriendsCtrl" class="animate-fade-slide-in">
<div class="item card-item" ng-repeat="d in DesafiosDisponibles">
    <div class="card stable-bg ink ink-dark" ng-if="d.fechaFin > hoy" >
        <div  class="item item-text-wrap">
        <span class="item-note">&nbsp;
        Apostó<br>
            <i style="color:black font-size: 40px; font-weight: bold" class="icon ion-social-usd"></i>&nbsp; {{d.creditosApostados}} 
        </span>
        <span style="color:blue;">{{d.titulo}}</span>
          <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Creada por <strong> {{d.usuario.nombre}}</strong> 
              <div class="card-footer text-right">
                <div class="pull-right">
                 <i class="icon ion-clock"></i> Hasta el {{d.fecha}}
                </div><br>
              </div>
        </div><center>
        <button class="ion-minus-circled" ng-click="definir(d)" ng-if="d.usuario.perfil != 'cliente'" style="background-color: red;">
          <span style="font-family:arial; color:white; font-size: 14px;">Cerrar</span>          
      </button>
      <button class="ion-minus-circled" ng-click="aceptar(d)" ng-if="d.usuario.perfil == 'cliente' && d.usuario.correo != usuario.correo" style="background-color: red;">
          <span style="font-family:arial; color:white; font-size: 14px;">Aceptar</span>          
      </button>
      </center>
    </div>    
</div>
    </ion-content>
</ion-view>
