<ion-view view-title="{{desafio.titulo}}">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">            
        <form>
            <div class="list card">
              <div class="item item-avatar">
                <img src=".jpg">
                <h2>Creado por {{desafio.usuario.nombre}}</h2>
                <p>{{desafio.fechaInicio}}</p>
                <p>{{desafio.fechaFin}}</p>
              </div>

              <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>
                  <h3>El usuario propuso </h3>
                  <br>
                  {{desafio.detalle}}
                </p>
                <p>
                    <input type="text" ng-model="desafio.respuestaAdversario" required />
                </p>
                <p>
                  <button ng-click="aceptado({{desafio}})" class="subdued">Aceptar</button>
                  <button ui-sref="app.friends" class="subdued">Volver atras</button>
                </p>
              </div>

            </div>
        </form>
    </ion-content>
</ion-view>
