<ion-view view-title="Detalle del desafio">
<ion-content style="background: url(img/login.jpg) center; background-size: cover;" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">    
<br><br><br>
          <div class="list card" style="background:url(img/vintage.jpeg); background-size: cover; " >
          
              <div class="item item-avatar">
                <img src="img/user.jpg"/>
                <h2>Creado por {{desafio.usuario.nombre}}</h2>
              </div>

              <div class="item item-body">
                
                <p style="color:white;">
                  <h2 style="color:white;">El usuario propuso 
                  <br>
                  <label style="-webkit-text-fill-color: yellowgreen;
                  font-style: italic;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{desafio.detalle}}</label>
                  </h2> 
                  <br>
                </p>
                <p>
                <label style="color:white;" >Usted le responde:&nbsp;&nbsp;&nbsp;</label>
                <ng-focus>
                    <input id="resp" style="background-color:#C0C0C0" ng-model="desafio.respuestaAdversario" required />
                </ng-focus>
                </p>
                <center>
                  <p>
                    <button ng-click="aceptado(desafio)" class="subdued">Aceptar</button>
                    <button ui-sref="app.friends" class="subdued">Volver atras</button>
                  </p>
                </center>
              </div>
            </div>            
    </ion-content>
</ion-view>
