<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>PowerStation</h1>
            </div>
        </div>
    <div class="padding" ng-if="logueado == 'no'">
        <div class="list">
            <ion-md-input ng-model="login.usuario" placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input ng-model="login.clave" placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="Loguear()" class="button button-full button-assertive ink">Login</button>
            <br><br><br><br>
            <center>
            <button ui-sref="app.registro" class="button expanded button-bar-positive">Registrarse</button>
            </center>
        </div>

        <div class="padding">
          <div class="{{mensajeLogin}}" ng-if="mensajeLogin.ver" style="text-align:center;color: blue;font-weight: 900;">
            <span class="input-label" style="font-size: 16px; width: 100%; max-width: 100%;color: blue;font-weight: 900;">{{mensajeLogin.mensaje}}</span>
          </div>
        </div>
    </div>
    <div class="list" ng-if="logueado == 'si'">
      <div class="padding">
        <div class="alert-success" ng-if="verificado == 'no' && !cartelVerificar">
          <p style="font-size: 16px;color: yellow;">Todavía no has verificado tu cuenta, <br><a ng-click="VerificarMail()" style="font-size: 15px; color:#fff">haz click aqui</a> para recibir el mail.</p>
        </div>
        <div class="alert-success" ng-if="verificado == 'no' && cartelVerificar">
          <p style="font-size: 16px;color: yellow;">Email enviado.</p>
        </div>
        <div class="alert-success">
          <button class="button button-block button-positive" ng-click="Deslogear()" >Salir</button>
        </div>
      </div>
    </div>
      <div class="bar button button-flat" ng-if="logueado == 'no'" ng-click="resetPassword()">
        <h1 class="title sans-pro-light"  style="text-align:center">Olvide mi contraseña</h1>
      </div>
    <div class="overlay" ng-show="cargando">
      <div class="overlayContent">
        <ion-spinner icon="circles"></ion-spinner><span style="font-size:26px; color:#000000">Ingresando..</span>
      </div>
    </div>


        
        <div class="button-bar social-login">
            <button ng-click="doLoginGoogle()" class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button ng-click="doLoginGithub()" class="button button-small button-border icon-left ion-social-github button-balanced-900">Github</button>
            <button ng-click="doLoginFacebook()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>            
        </div>
    </ion-content>
</ion-view>
